<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FlakeWrap.Properties.Settings.InstanceDataConnectionString"
            connectionString="Data Source=08220-DHP;Initial Catalog=InstanceData;User ID=test;Password=test"
            providerName="System.Data.SqlClient" />
        <add name="FlakeWrap.Properties.Settings.InstanceDataConnectionString1"
            connectionString="Data Source=08220-DHP;Initial Catalog=InstanceData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <!--requiredInstances is in thousands-->
    <add key="requiredInstances" value="26"/>
  </appSettings>
</configuration>